


<div class="container">
  


<mat-card class="card"> 
  
    <mat-form-field style="padding-bottom: 0px!important;" appearance="outline" class="form">
      <mat-label>Github Username</mat-label>
      <input matInput placeholder="Username" autocomplete="off" (keyup.enter)="dataGet()" [(ngModel)]="username"> 
      
      <button type="submit" matSuffix mat-icon-button (click)="dataGet()">
          <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>  

    <div></div>

    <div *ngIf="data">
    <mat-card-header class="header"> 
      <a [attr.href]="data.html_url" target="_blank" class="avatar" matBadge="{{data.public_repos}}"><img mat-card-avatar [attr.src]="data.avatar_url"></a>
      <mat-card-title>{{data.name}}</mat-card-title>
      <mat-card-subtitle>{{data.created_at | date}}</mat-card-subtitle>
      <mat-card-subtitle>{{data.bio}}</mat-card-subtitle>
      <mat-card-subtitle><a href="{{data.blog}}" target="_blank" style="color:dimgrey" matRipple>{{data.blog}}</a></mat-card-subtitle>
    </mat-card-header>  
    <mat-card-content style="margin: 0px;">
 
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Followers">  
            <div class="scroll">
                <mat-list> 
                    <a href="{{item.html_url}}" target="_blank" mat-list-item matRipple *ngFor="let item of data_followers"> 
                      <img mat-card-avatar [attr.src]="item.avatar_url">
                      <div mat-line>{{item.login}}</div>  
                    </a> 
                  </mat-list>
            </div> 
            <mat-grid-list cols="1">
              <mat-grid-tile matRipple>Followers: {{data.followers}}</mat-grid-tile> 
            </mat-grid-list> 
        </mat-tab>
        <mat-tab label="Following"> 
            <div class="scroll"> 
                <mat-list> 
                    <a href="{{item.html_url}}" target="_blank" mat-list-item matRipple *ngFor="let item of data_following"> 
                      <img mat-card-avatar [attr.src]="item.avatar_url">
                      <div mat-line>{{item.login}}</div>  
                    </a> 
                  </mat-list>
            </div>
            <mat-grid-list cols="1">
              <mat-grid-tile matRipple>Following: {{data.following}}</mat-grid-tile> 
            </mat-grid-list> 
        </mat-tab> 
    </mat-tab-group> 
    </mat-card-content>
    </div>
  </mat-card>
</div>
 